%h3= link_to milestone.name, project_milestone_url(@project, milestone)
%span= textilized milestone.description
%ul.milestone-information
  %li
    %span= milestone.percent_complete.to_i
    %span % completed
  %li{:class => ('last' unless milestone.expected_at)}
    %span= milestone.ticket_open_count
    %span open issues
  - if milestone.expected_at
    %li.last
      %span= milestone.expected_at
= render :partial => 'pbar', :locals => {:milestone => milestone}
.clear
