- if admin? @project
  .secondary-navigation
    %ul
      %li.first= link_to('New milestone',new_project_milestone_url(@project))
    .clear

#block-lists.block
  .content
    .inner
      - if @current_milestone
        %ul#milestones.list
          %li.milestone
            = render :partial => @current_milestone

      - unless @upcoming_milestones.empty?
        %h3 Upcomming Milestones
        %ul#milestones.list
          - @upcoming_milestones.each do |milestone|
            %li.milestone
              = render :partial => milestone


      - unless @no_date_milestones.empty?
        %h3 No date milestones
        %ul#milestones.list
          - @no_date_milestones.each do |milestone|
            - next if milestone == @current_milestone
            %li.milestone
              = render :partial => milestone

      - unless @outdated_milestones.empty?
        %h3 Outdated Milestones

        %table.table
          %thead
            %tr
              %th Name
              %th Due
              %th Report
          %tbody
            - @outdated_milestones.each do |milestone|
              %tr{:class => cycle('odd','even')}
                %td= link_to milestone.name, project_milestone_url(@project, milestone)
                %td= milestone.expected_at
                %td
                  = milestone.percent_complete.to_i
                  = "% done"
                  %br
                  = "( #{milestone.ticket_open_count} ticket still open )"
