- @title = "Milestone #{@milestone.name}"

- content_for :tag_cloud_sidebar do
  = render :partial => 'shared/tag_cloud', :locals => {:tags => @milestone.tag_counts, :project => @project}

#block-text.block
  .content
    %h2
      = @milestone.name
    .inner
      %p.first
        = @milestone.nb_tickets_open
        Tickets remain,
        = @milestone.nb_tickets
        Tickets total.

      = render :partial => 'pbar', :locals => {:milestone => @milestone}

      %p
        = textilized @milestone.description

      %ul.list
        - @milestone.ticket_open.each do |ticket|
          %li
            %span="##{ticket.num}"
            = link_to ticket.title, project_ticket_url(@project, ticket)
            = ticket.tag_list
