#block-text.block
  .content
    %h2 
      = @milestone.name
    .inner
      %p.first
        = @milestone.ticket_open_count
        Tickets remain,
        = @milestone.tickets.count
        Tickets total.

      = partial :pbar, :milestone => @milestone

      %p
        = textilized @milestone.description

      %ul.list
        - @milestone.ticket_open.each do |ticket|
          %li
            %span="##{ticket.num}"
            =link_to ticket.title, resource(@project, ticket)
            = ticket.tag_list.join(', ')
