.content
  %h2 Add a priority

  .inner
    .flash

      = error_messages_for @priority

    = form_for(@priority, :action => resource(:admin, :priorities), :class => 'form') do
      .group
        %label.label{:for => 'priority[name]'} Name
        = text_field :name, :class => 'text_field'
      %div{:class => 'group navform'}
        = submit "Create", :class => 'button'
        or
        = link_to 'Back', resource(:admin, :priorities)
