%h1 Edit your profile

= error_messages_for @user

= form_for(@user, :action => url(:user, @user)) do
  %p=text_field :email, :label => 'Email'
  %p= text_field :firstname, :label => 'Firstname'
  %p= text_field :lastname, :label => 'Lastname'
  %p
    = submit "Update"
