#box
  #block-signup.block
    %h2 Create an account

    .content
      = message[:error]
      = error_messages_for @user

      = form_for(@user, :action => url(:users), :class=> 'form') do

        .group
          .left
            %label.label{:for => 'user[login]'} Login
          .right
            = text_field :login, :class => 'text_field'
          .clear
        .group
          .left
            %label.label{:for => 'user[email]'} Email
          .right
            = text_field  :email, :class => 'text_field'
          .clear
        .group
          .left
            %label.label{:for => 'user[password]'} Password
          .right
            = password_field  :password, :class => 'text_field'
          .clear
        .group
          .left
            %label.label{:for => 'user[password_confirmation]'} Password confirmation
          .right
            = password_field  :password_confirmation, :class => 'text_field'
          .clear

        %div{:class => 'group navform'}
          .right
            = submit "Create", :class => 'button'
          .clear
