%h1 Edit ticket

= error_messages_for :ticket

= form_for(@ticket, :action => resource(@project, @ticket)) do
  = partial :form
  %p
    = submit "Update"
    or
    = link_to 'Back', resource(@project, :tickets)
