#block-forms.block
  .content
    %h2 Edit this ticket comments
    .inner

      .flash
        = error_messages_for :ticket

      - form_for(@ticket, :url => update_main_description_project_ticket_url(@project, @ticket), :html => {:class => 'form'}) do |f|
        .group
          %label.label{:for => 'ticket[title]'} Title
          = f.text_field :title, :size => 40, :class => 'text_field'
        .group
          %label.label{:for => 'ticket[description]'} Description
          = f.text_area :description, :name => 'ticket[description]', :cols => 40, :rows => 15, :class => 'text_area'
        .clear
        %div{:class => 'group navform'}
          = submit_tag "Update", :class => 'button'
          or
          = link_to 'Cancel', project_ticket_url(@project, @ticket)
