%h1
  Tickets controller, edit action
%p
  Edit this file in
  %tt
    app/views/tickets/edit.html.erb
= error_messages_for :ticket

= form_for(@ticket, :action => url(@ticket)) do
  %p
    = submit "Update"

= link_to 'Show', resource(@project, @ticket)
|
= link_to 'Back', resource(@project, :tickets)
