- @title = "Tickets"

- content_for :milestone_sidebar do
  = render :partial => 'shared/milestone_sidebar', :locals => {:project => @project, :milestone => @project.current_milestone}

- content_for :tag_cloud_sidebar do
  = render :partial => 'shared/tag_cloud', :locals => {:tags => @project.tag_counts, :project => @project}

#block-tables.block

  #ticket_search.block
    - form_tag(project_tickets_url(@project), {:id => 'ticket_search_form', :method => 'GET'}) do
      %label{:for => 'q'}
        Find tickets :
      = text_field_tag :q, params[:q]

  .content
    .inner
      %table.table
        %thead
          %tr
            %th.first= link_to 'id', project_tickets_url(@project, sort_by('num').merge(:q => params[:q]))
            %th= link_to 'name', project_tickets_url(@project, sort_by('title').merge(:q => params[:q]))
            %th responsible
            %th status
            %th priority
            %th.last milestone
        %tbody
          - for ticket in @tickets
            %tr{:class => "#{cycle('odd','even')} ticket" }
              %td= link_to "##{ticket.num}", project_ticket_url(@project, ticket)
              %td= ticket.title
              %td= ticket.user_assigned_name
              %td= ticket.state_name
              %td= ticket.priority_name
              %td= ticket.milestone_name

      .actions-bar
        = will_paginate @tickets
        .actions
          = link_to 'New', new_project_ticket_url(@project) if user_signed_in?
