%h1= "Tickets on project #{@project.name}"

%table
  %thead
    %tr
      %th id
      %th name
      %th assigned_to
  %tbody
    - for ticket in @tickets
      %tr
        %th= link_to "##{ticket.num}", resource(@project, ticket)
        %td= ticket.title
        %td= ticket.assigned_to ? ticket.assigned_to.login : ""

= will_paginate @tickets

= link_to 'New', resource(@project, :tickets, :new) if session.authenticated?
