%table
  %thead
    %tr
      %th id
      %th name
      %th responsabile
      %th status
      %th priority
      %th milestone
  %tbody
    - for ticket in @tickets
      %tr
        %th= link_to "##{ticket.num}", resource(@project, ticket)
        %td= ticket.title
        %td= ticket.assigned_to ? ticket.assigned_to.login : ""
        %td= ticket.state.name
        %td= ticket.priority ? ticket.priority.name : ""
        %td= ticket.milestone ? ticket.milestone.name : ""

= will_paginate @tickets

= link_to 'New', resource(@project, :tickets, :new) if session.authenticated?
