#block-tables.block

  #ticket_search.block
    = form :action => resource(@project, :tickets), :id => 'ticket_search_form', :method => 'GET' do
      = text_field :q, :label => 'Find tickets :' 

  .content
    .inner
      %table.table
        %thead
          %tr
            %th.first= link_to 'id', resource(@project, :tickets, sort_by('id').merge(:q => params[:q]))
            %th= link_to 'name', resource(@project, :tickets, sort_by('title').merge(:q => params[:q]))
            %th responsible
            %th status
            %th priority
            %th.last milestone
        %tbody
          - for ticket in @tickets
            %tr{:class => "#{cycle('odd','even')} ticket" }
              %td= link_to "##{ticket.num}", resource(@project, ticket)
              %td= ticket.title
              %td= ticket.assigned_to ? ticket.assigned_to.login : ""
              %td= ticket.state.name
              %td= ticket.priority ? ticket.priority.name : ""
              %td= ticket.milestone ? ticket.milestone.name : ""

      .actions-bar
        = will_paginate @tickets
        .actions
          = link_to 'New', resource(@project, :tickets, :new) if session.authenticated?
