%h1= "Tickets on project #{@project.name}"

%table
  %thead
    %tr
      %th id
      %th name
  %tbody
    - for ticket in @tickets
      %tr
        %th= link_to "##{ticket.id}", resource(@project, ticket)
        %td= ticket.title

= will_paginate @tickets

= link_to 'New', resource(@project, :tickets, :new) if session.authenticated?
