- content_for :tag_cloud_sidebar do
  = render :partial => 'shared/tag_cloud', :locals => { :tags => @project.ticket_tag_counts, :project => @project }

#block-tables.block

  #ticket_search.block
    - form_tag(project_tickets_url(@project), {:id => 'ticket_search_form', :method => 'GET'}) do
      %label{:for => 'q'}
        Find tickets :
      = text_field_tag :q

  .content
    .inner
      %table.table
        %thead
          %tr
            %th.first= link_to 'id', project_tickets_url(@project, sort_by('id').merge(:q => params[:q]))
            %th= link_to 'name', project_tickets_url(@project, sort_by('title').merge(:q => params[:q]))
            %th responsible
            %th status
            %th priority
            %th.last milestone
        %tbody
          - for ticket in @tickets
            %tr{:class => "#{cycle('odd','even')} ticket" }
              %td= link_to "##{ticket.num}", project_ticket_url(@project, ticket)
              %td= ticket.title
              %td= ticket.user_assigned ? ticket.user_assigned.login : ""
              %td= ticket.state.name
              %td= ticket.priority ? ticket.priority.name : ""
              %td= ticket.milestone ? ticket.milestone.name : ""

      .actions-bar
        = will_paginate @tickets
        .actions
          = link_to 'New', new_project_ticket_url(@project) if user_signed_in?
