#block-forms.block
  .content

    - if @preview
      %fieldset.preview
        %legend Preview
        %h2=h @ticket.title
        = textilized @ticket.description

    %h2 Create a new ticket

    .inner
      .flash
        = message[:error]
        = error_messages_for @ticket

      = form_for(@ticket, :action => url(:project_tickets), :id => 'ticket_form' , :class => 'form') do
        .columns
          %div{:class => 'column left'}
            .group
              %label.label{:for => 'ticket[title]'} Title
              = text_field :title, :size => 40, :class => 'text_field'
            .group
              %label.label{:for => 'ticket[description]'} Description
              = text_area(@ticket.description, :name => 'ticket[description]', :cols => 40, :rows => 15, :class => 'text_area')

          %div{:class => 'column right'}
            .group
              %label.label{:for => 'ticket[member_assigned_to]'} Who's is responsible ?
              = select :member_assigned_id, :collection => Member.all(:project_id => @project.id).map{|m| m.user},:text_method => 'login', :value_method => 'id', :selected => @ticket.member_assigned_id.to_s, :prompt => '-- None --'

            .group
              %label.label{:for => 'ticket[state_id]'} Ticket status
              = select :state_id, :collection => State.all, :text_method => 'name', :value_method => 'id', :selected => @ticket.state_id.to_s

            .group
              %label.label{:for => 'ticket[priority_id]'} Ticket Priority
              = select :priority_id, :collection => Priority.all, :text_method => :name, :value_method => :id, :selected => @ticket.priority_id.to_s, :prompt => '-- None --'

            .group
              %label.label{:for => 'ticket[milestone_id]'} Milestone
              = select :milestone_id, :collection => @project.milestones, :text_method => :name, :value_method => :id, :selected => @ticket.milestone_id.to_s, :prompt => '-- None --'
        .clear
        .group
          %label.label{:for => 'ticket[tag_list]'} Choose some tags
          = text_field :tag_list, :value => @ticket.tag_list.join(', '), :class => 'text_field'

        %div{:class => 'group navform'}
          = submit "Create", :class => 'button'
          = submit "Preview", :class => 'button'
          or
          = link_to 'Cancel', resource(@project, :tickets)
