%h1 Create a new ticket

= message[:error]
= error_messages_for @ticket

= form_for(@ticket, :action => url(:project_tickets) ) do
  = partial :form
  %p
    = submit "Create"
    or
    = link_to 'Cancel', resource(@project, :tickets)
