#block-forms.block
  .content
    %h1 Create a new ticket

    .inner
      .flash
        = message[:error]
        = error_messages_for @ticket

      = form_for(@ticket, :action => url(:project_tickets), :id => 'ticket_form' , :class => 'form') do
        = partial :form
        %div{:class => 'group navform'}
          = submit "Create", :class => 'button'
          or
          = link_to 'Cancel', resource(@project, :tickets)
