%h1= "Ticket ##{@ticket.num}"

#ticket_status
  %span=@ticket.state.name

#ticket
  %h2= @ticket.title

  %p= @ticket.description

  = link_to 'Edit',  resource(@project, @ticket, :edit) if admin?(@project)

#ticket_side
  %h3 Tags
  - @ticket.tags.each do |tag|
    %span= tag.name

#ticket_update
  - @ticket.ticket_updates.each do |up|
    - up.properties_update.each do |prop|
      %p
        = prop[0]
        is change from 
        = prop[1]
        to 
        = prop[2] 
    %p=up.description

#ticket_update_form
  %h3 Update this ticket
  = form_for(@ticket, :action => resource(@project, @ticket)) do 
    = partial :form
    %p
      = submit "Update"
