%h1= "Ticket ##{@ticket.num}"

#ticket_status
  %span=@ticket.state.name

#ticket
  %h2= @ticket.title

  %p= @ticket.description

  = link_to 'Edit',  resource(@project, @ticket, :edit) if admin?(@project)

#ticket_side
  %h3 Tags
  - @ticket.tags.each do |tag|
    %span= tag.name

%ul#ticket_update
  - @ticket.ticket_updates.each do |up|
    %li{:id => "ticket_update-#{@ticket.num}-#{up.id}"}
      %ul{:id => "properties_change-#{@ticket.num}-#{up.id}"}
        - up.properties_update.each do |prop|
          %li= update_field(prop)
      %p=up.description

#ticket_update_form
  %h3 Update this ticket
  = form_for(@ticket, :action => resource(@project, @ticket)) do 
    = partial :form
    %p
      = submit "Update"
