- tag_cloud_part('Tickets', @ticket.id, @project.id)
- @title = "ticket #{@ticket.title}"

- throw_content :attachment_sidebar do
  = partial 'tickets/attachments'

#block-lists.block
  .content
    %h2= "Ticket ##{@ticket.num}"
    .inner
      #ticket_status
        %span=@ticket.state.name

      #ticket
        %h2= @ticket.title
        %p.date
          Reported by 
          =@ticket.creator_user_name
          |
          =@ticket.created_at

        %p= textilized @ticket.description

        .edit= link_to 'edit',  resource(@project, @ticket, :edit_main_description) if admin?(@project)

      - unless @ticket.ticket_updates.empty?
        %h3 Comments and changes to this ticket

      %ul#ticket_update
        - @ticket.ticket_updates.each do |up|
          %li{:id => "ticket_update-#{@ticket.num}-#{up.id}", :class => 'top-ticket-update'}
            %h4
              =up.creator_user_name
              |
              =up.created_at
            %ul.list_properties{:id => "properties_change-#{@ticket.num}-#{up.id}"}
              - up.properties_update.each do |prop|
                %li= update_field(prop)
            %p= textilized up.description
            .edit=link_to 'edit', resource(@project, @ticket, up, :edit) if admin?(@project)

      - if authenticated?

        - if @preview_description
          %fieldset.preview
            %legend Preview
            = textilized @preview_description

        = message[:error]
        = error_messages_for @ticket

        #ticket_update_form
          %h3 Update this ticket
          = form_for(@ticket, :action => resource(@project, @ticket), :class => 'form') do 
            .columns
              %div{:class => 'column left'}
                -# TODO: extract this node in partial with same part in tickets/new
                .group
                  %label.label{:for => 'ticket[description]'} Description
                  = text_area(@ticket_change.description, :name => 'ticket[description]', :cols => 40, :rows => 15, :class => 'text_area')

              %div{:class => 'column right'}
                .group
                  %label.label{:for => 'ticket[user_assigned_id]'} Who's is responsible ?
                  = select :user_assigned_id, :collection => @ticket.project.project_members,:text_method => 'user_name', :value_method => 'user_id', :selected => @ticket.user_assigned_id.to_s, :prompt => '-- None --'

                .group
                  %label.label{:for => 'ticket[state_id]'} Ticket status
                  = select :state_id, :collection => State.all, :text_method => 'name', :value_method => 'id', :selected => @ticket_change.state_id.to_s

                .group
                  %label.label{:for => 'ticket[priority_id]'} Ticket Priority
                  = select :priority_id, :collection => Priority.all, :text_method => :name, :value_method => :id, :selected => @ticket_change.priority_id.to_s, :prompt => '-- None --'

                .group
                  %label.label{:for => 'ticket[milestone_id]'} Milestone
                  = select :milestone_id, :collection => @project.milestones, :text_method => :name, :value_method => :id, :selected => @ticket_change.milestone_id.to_s, :prompt => '-- None --'
            .clear
            .group
              %label.label{:for => 'ticket[tag_list]'} Choose some tags
              = text_field :tag_list, :value => @ticket_change.tag_list, :class => 'text_field'
            %div{:class => 'group navform'}
              = submit "Update", :class => 'button'
              = submit "Preview", :class => 'button'
