!!! Strict
!!!
%html
  %head
    %title= @title || "Oupsnow"
    = css_include_tag 'oupsnow'
  %body
    #banner
      #header
        %h1= title_project
      #login_nav.nav
        %ul
          - unless authenticated?
            %li= link_to('Login', url(:login))
            %li.last= link_to('Register', url(:new_user))
          - else
            %li= link_to('My profile', url(:edit_user, session.user))
            %li.last= link_to 'Logout', url(:logout)

    #menu.nav
      %ul
        %li{:class => projects_actual}= link_to 'Projects', resource(:projects)
        - unless @project.nil? || @project.id.nil?
          %li{:class => overview_actual}=link_to 'Overview', resource(@project, :overview)
          %li{:class => tickets_actual}= link_to 'Tickets', resource(@project, :tickets)
          %li{:class => tickets_new_actual}= link_to 'Add new ticket', resource(@project, :tickets, :new) if authenticated?
          %li{:class => settings_actual}= link_to 'Settings', url(:project_settings_members, @project) if admin?(@project)
      = sub_menu
    %div#content
      = catch_content :for_layout
