!!! Strict
!!!
%html
  %head
    %title= @title || "Oupsnow"
    = css_include_tag 'oupsnow'
  %body
    %div#header
      %h1= title_project
    %div#menu
      %ul
        %li= link_to 'Projects', resource(:projects)
        - if @project
          %li= link_to 'Tickets', resource(@project, :tickets)
          %li= link_to 'Add new ticket', resource(@project, :tickets, :new)
    %div#content
      = catch_content :for_layout
