- @title = "New Project"

- content_for :milestone_sidebar do
  = render :partial => 'shared/milestone_sidebar', :locals => {:project => @project, :milestone => @project.current_milestone}

- content_for :tag_cloud_sidebar do
  = render :partial => 'shared/tag_cloud', :locals => {:tags => @project.tag_counts, :project => @project}

#block-lists.block
  .content
    %h2
    .inner
      %ul.list#events
        - @events.each do |event|
          %li
            .left
              %span= time_overview(event.created_at)
            .item
              = event.eventable_type
              = link_to event.event_title, (event.eventable_type == 'Project' ? {:controller => event.eventable_pluralize, :action => :show, :id => event.eventable_id} : { :controller => event.eventable_pluralize, :action => :show, :project_id => @project.to_param, :id => event.eventable_id} )
              was
              = event.event_type
              by
              = event.user_name

      .actions-bar
        = will_paginate @events
