

#block-lists.block
  .content
    %h2
    .inner
      %ul.list
        - @events.each do |event|
          %li
            .left
              %span= time_overview(event.created_at)
            .item
              = event.eventable_type
              = link_to event.short_description, (event.eventable_type == 'Project' ? {:controller => event.eventable_pluralize, :action => :show, :id => event.eventable.to_param} : { :controller => event.eventable_pluralize, :action => :show, :project_id => @project.to_param, :id => event.eventable.to_param} )
              was
              = event.event_type
              by
              = event.user.login

      .actions-bar
        = will_paginate @events
