#block-forms.block
  .content
    %h2 Edit this ticket comments

    .inner
      .flash
        = error_messages_for @ticket_update

      = form_for(@ticket_update, :action => resource(@project, @ticket, @ticket_update), :class => 'form') do
        .group
          %label.label{:for => 'ticket_update[description]'} Description
          = text_area  @ticket_update.description, :name => 'ticket_update[description]', :class => 'text_area', :cols => 40, :rows => 15
        .clear
        %div{:class => 'group navform'}
          = submit "Update", :class => 'button'
          or
          = link_to 'Cancel', resource(@project, @ticket)
