<div id="box">
<div id="block-login" class="block">
  <h2>Login</h2>

  <div class="content login">

    <div class="flash">
      <%= error_messages_for session.authentication %>
    </div>

  <% @login_param = Merb::Authentication::Strategies::Basic::Base.login_param %>
  <% @password_param = Merb::Authentication::Strategies::Basic::Base.password_param %>
  
	<form class="form login" action="<%= slice_url(:merb_auth_slice_password, :perform_login) %>" method="POST" accept-charset="utf-8">
	  <input type="hidden" name="_method" value="PUT" />
	  <div class="group">
        <div class="left">
          <label class="label right"><%= @login_param.to_s.capitalize %>:</label>
        </div>
        <div class="right">
          <input type="text" class="text_field" name="<%= @login_param.to_s %>" value="" id="login_field">
        </div>
        <div class="clear"></div>
	  </div>
	  <div class="group">
        <div class="left">
          <label class="label right"><%= @password_param.to_s.capitalize %>:</label>
        </div>
        <div class="right">
          <input class="text_field" type="password" name="<%= @password_param.to_s %>" value="" id="<%= @password_param.to_s %>">
        </div>
        <div class="clear"></div>
      </div>
      <div class="group navform">
        <div class="right">
          <input type="submit" name="Submit" value="Log In" id="Submit" class="button">
          |
          <%= link_to 'register', url(:new_user) %>
        </div>
        <div class="clear"></div>
	  </div>
	</form>
  </div>
</div>
</div>
