.content
  %h2
    Users

  .inner
    .flash
      = flash[:notice]


    - form_tag update_all_admin_users_url, :method => :put, :class => 'form' do
      %table.table
        %thead
          %tr
            %th.first Login
            %th Firstname
            %th Lastname
            %th Email
            %th.last Admin
        %tbody
          - for user in @users
            %tr{:class => cycle('odd', 'even')}
              %td= link_to user.login, admin_user_url(user)
              %td= user.firstname
              %td= user.lastname
              %td= user.email
              %td= check_box_tag "user_admin[#{user.id}]", 1, user.global_admin?
      .actions-bar
        .actions
          = submit_tag "Update all users", :class=> 'button'
        .clear
