%h1
  Members controller, edit action
%p
  Edit this file in
  %tt
    app/views/members/edit.html.erb
= error_messages_for @member

= form_for(@member, :action => url(:project_setting_member, @project, @member)) do
  %p
    = submit "Update"

= link_to 'Show', url(:member, @member)
|
= link_to 'Back', url(:members)
