.content
  %h2
    Functions

  .inner
    .flash
      = flash

    - form_tag update_all_admin_functions_url, :method => 'PUT', :class => 'form' do
      %table.table
        %thead
          %tr
            %th.first Name
            %th.last Project admin
        %tbody
          - for function in @functions
            %tr
              %td= function.name
              %td= check_box_tag "project_admin[#{function.id}]", 1, function.project_admin?
      .actions-bar
        .actions
          =link_to 'Add function', new_admin_function_url
          = submit_tag "Update all functions", :class=> 'button'
        .clear

