%h1 Add a function

= error_messages_for @function

= form_for(@function, :action => resource(:admin, :functions) ) do
  %p= text_field :name, :label => 'Name'
  %p
    %span Project admin?
    = check_box :name => "function[project_admin]", :value => true, :checked => @function.project_admin
  %p
    = submit "Create"

= link_to 'Back', resource(:admin, :functions)
