.content
  %h2 Add a function

  .inner
    .flash
      = error_messages_for :function


    - form_for([:admin, @function], :html => {:class => 'form'}) do |f|
      .group
        %label.label{:for => 'function[name]'} Name
        = f.text_field :name, :class => 'text_field'
      .group
        %label.checkbox{:for => 'function[project_admin]'} Project admin?
        = f.check_box :project_admin, :class => 'checkbox'
      %div{:class => 'group navform'}
        = submit_tag "Create", :class => 'button'
        or
        = link_to 'Back', admin_functions_url
