.content
  %h2 Add a state

  .inner
    .flash
      = error_messages_for @state

    = form_for(@state, :action => resource(:admin, :states), :class => 'form') do
      .group
        %label.label{:for => 'state[name]'} Name
        = text_field :name, :class => 'text_field'
      %div{:class => 'group navform'}
        = submit "Create", :class => 'button'
        or
        = link_to 'Back', resource(:admin, :states)
