!!! Strict
%html
  %head
    %title= title_header
    = stylesheet_link_tag 'base'
    = stylesheet_link_tag 'default'
    = stylesheet_link_tag 'oupsnow'
    = csrf_meta_tag
  %body
    #container
      #header
        %h1= link_to title_project, '/'
        #user-navigation
          %ul
            - unless user_signed_in?
              %li= link_to('Login', new_user_session_url)
              %li= link_to('Register', new_user_url)
            - else
              %li= link_to('My profile', edit_user_url(current_user))
              %li= link_to 'Logout', destroy_user_session_url
              - if global_admin?
                %li= link_to 'Administration', admin_root_url
          .clear

        #main-navigation
          %ul
            %li.first{:class => projects_current}= link_to 'Projects', projects_url
            - unless @project.nil? || @project._id.nil?
              %li{:class => overview_current}=link_to 'Overview', overview_project_url(@project)
              %li{:class => milestone_current}=link_to 'Milestones', project_milestones_url(@project)
              %li{:class => tickets_current}= link_to 'Tickets', project_tickets_url(@project, :q => 'closed:false')
              - if @project.current_milestone_id
                %li= link_to @project.current_milestone_name, project_milestone_url(@project, @project.current_milestone_id)
              - if user_signed_in?
                %li{:class => tickets_new_current}= link_to 'Add new ticket', new_project_ticket_url(@project)
              - if admin? @project
                %li{:class => settings_current}= link_to 'Settings', project_project_members_url(@project)
          .clear
        - flash.keys.each do |k|
          %div{:class => k}
            %p{:class => "#{k}"}= flash[k]
    #wrapper
      #main
        .block
          = sub_menu
          = yield :sub_menu
          = yield
        #footer
          .block
            %p
              Powered by
              %a{:href => 'http://oupsnow.rubyforge.org'} Oupsnow
              = '-'
              = Oupsnow::VERSION
        .clear
      #sidebar
        = yield :milestone_sidebar
        = yield :watchers_sidebar
        = yield :tag_cloud_sidebar
        = yield :attachment_sidebar
      .clear
    = render :partial => 'shared/google_analytics'
